<div class="jumbotron" style="background-image:url('http://luauf.com/wp-content/uploads/2008/06/ruby-on-rails.jpg')">
	<h1>Hello, world!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, non earum sint eligendi perferendis aliquam inventore eaque rerum esse voluptatem aut deleniti minima incidunt? Perferendis consectetur aliquid rem molestiae facilis!</p>
	<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Título</h1>
			<h2>Subtítulo</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, modi, ipsum, cum, impedit aspernatur non voluptate quia laborum adipisci tempora dolore odit deserunt fuga animi architecto excepturi dignissimos nam quis!
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, cupiditate, eligendi facilis qui molestias quia enim voluptates nesciunt doloremque fuga quis ab perferendis sint accusamus cum reiciendis mollitia vitae eos?
				<a class="clearfix" href="http://www.google.com">
					Ir a Google
				</a>
			</p>

		</div>
		<div class="col-md-6">	

			<img src="http://1.bp.blogspot.com/_KKz-LF71ZkA/SWI2bfs_ccI/AAAAAAAAAKM/aNL6gH0BCtc/s320/ruby-logo-34.png" alt="Ruby">
			

			<img class="img-responsive"src="http://luauf.com/wp-content/uploads/2008/06/ruby-on-rails.jpg" alt="Ruby on rails">

		</div>
	</div>
</div>
